<div class="container">
  <div class="title">Gere escalas mensais facilmente</div>
  <form (ngSubmit)="onSubmit()" #dataForm="ngForm">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Designação do indivíduo" type="text" required [(ngModel)]="data.designation" name="designation">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Número de indivíduos" type="number" required [(ngModel)]="data.nIndividuals" name="nIndividuals">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mês" type="month" required [(ngModel)]="data.month" name="month">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cota mensal em dias de semana" type="number" required [(ngModel)]="data.nAttendanceDuringWeek"
            name="nAttendanceDuringWeek">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cota mensal em finais de semana" type="number" required [(ngModel)]="data.nAttendanceOnWeekends"
            name="nAttendanceOnWeekends">
        </mat-form-field>
        {{data.designation}}
        <br> {{data.nIndividuals}}
        <br> {{data.month}}
        <br> {{data.nAttendanceDuringWeek}}
        <br> {{data.nAttendanceOnWeekends}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="submit" [disabled]="!dataForm.form.valid">GERAR</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>