@import url('https://fonts.googleapis.com/css?family=Satisfy');

.container {
    position: relative;
    text-align: center;
    color: white;
}

.title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    border: solid 2px white;
    padding: 10px 20px;
    font-weight: 100;
}

mat-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background:rgba(255, 255, 255, 0.96);
}

mat-form-field {
    width: 100%;
}

img {
    width: 100%;
    filter: grayscale(0.7);
}

