<div class="container">
  <img src="assets/background.jpg" alt="Norway" style="width:100%;">
  <div class="title">Gere escalas mensais facilmente</div>
  <mat-card>
    <!-- <mat-card-title>Gerador de Escalas Mensais</mat-card-title> -->
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Designação do indivíduo" type="text" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Número de indivíduos" type="number" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mês" type="month" required value={{getCurrentMonth()}} lang="pt"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cota mensal em dias de semana" type="number" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cota mensal em finais de semana" type="number" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>GERAR</button>
    </mat-card-actions>
  </mat-card>
</div>